.container {
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    padding: 20px 16px;
}

.characterLength {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.characterLength span {
    color: var(--color-green);
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 44px;
    margin-bottom: 14px;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid var(--color-white);
    text-align: center;
}

.checkmark img {
    visibility: hidden;
}

.checkboxContainer:hover input ~ .checkmark {
    opacity: 0.5;
}

.checkboxContainer input:checked ~ .checkmark {
    background-color: var(--color-green);
    border: none;
}

.checkboxContainer input:checked ~ .checkmark img {
    visibility: visible;
}

.submitButton {
    background-color: var(--color-green);
    border: none;
    height: 56px;
    margin-top: 16px;
    width: 100%;
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

.submitButton:hover {
    background-color: var(--color-dark-grey);
    border: 2px solid var(--color-green);
    color: var(--color-green);
}

.submitButton:hover svg {
    fill: var(--color-green);
}

.submitButton svg {
    margin-left: 12px;
    position: relative;
}