.container {
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    padding: 20px 16px;
}

.characterLength {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.characterLength span {
    color: var(--color-green);
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 44px;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid var(--color-white);
}

.checkboxContainer:hover input ~ .checkmark {
    background-color: red;
}

.checkboxContainer input:checked ~ .checkmark {
    background-color: var(--color-green);
}

.submitButton {
    background-color: var(--color-green);
    border: none;
    height: 56px;
    margin-top: 16px;
    width: 100%;
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

.submitButton img {
    margin-left: 16px;
}

/* Slide styles */
.slider {
    margin-bottom: 32px;
}

.slider > input {
    appearance: none;
    background: transparent;
    width: 100%;
}

.slider > input:focus {
    outline: none;
}

.slider > input::-webkit-slider-runnable-track {
    background-color: var(--color-green);
    height: 8px;
}

.slider > input::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--color-white);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
}

.slider > input::-moz-range-track {
    background-color: var(--color-green);
    height: 8px;
}

.slider > input::-moz-range-thumb {
    appearance: none;
    background-color: var(--color-white);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
}