.container {
    height: 64px;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin: 18px 0;
}

.password {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
    font-size: 2.4rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.copy {
    font-size: 1.8rem;
}

.copyIcon {
    fill: var(--color-green);
}

.copyIcon:hover{
    fill: var(--color-white);
}

.copied {
    color: var(--color-green);
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-right: 12px;
    z-index: 10;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.container img:hover {
    color: var(--color-white);
}

.passwordFaded {
    opacity: 0.25;
}

.right {
    display: flex;
    align-items: center;
}

@media (min-width: 376px) {
    .container {
        height: 80px;
        padding: 0 28px;
        margin: 24px 0;
    }

    .password {
        font-size: 3.2rem;
    }
}
