@font-face{
    font-family: 'JetBrainsMono';
    src: url('./assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'JetBrainsMono';
    src: url('./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf');
    font-style: italic;
}


:root {
    /*colors*/
    --color-dark-grey: #24232C;
    --color-med-grey: #817D92;
    --color-light-grey: #E6E5EA;
    --color-dark-blue: #18171F;
    --color-green: #A4FFAF;
    --color-red: #F64A4A;
    --color-orange: #FB7C58;
    --color-yellow: #F8CD65;
    --color-background: #08070B; 
    --color-white: #E6E5EA;

}

html {
    font-size: 10px;
    background-color: var(--color-background);
}

body {
    font-family: 'JetBrainsMono', monospace;
}

.theme-heading-lg{
    font-size: 3.2rem;
    line-height: 43px;
}

.theme-heading-md{
    font-size: 2.4rem;
    line-height: 31px;
}

.theme-body{
    font-size: 1.6rem;
    line-height: 23px;
}

@media (min-width: 376px) {
    .theme-body {
        font-size: 1.8rem;
    }
}